<html>
  <head>
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'bootstrap.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static', filename = 'main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="{{ url_for('static', filename = 'main.js') }}"></script>
  </head>
  <body>
  <header><h1>ODD JOBS FINDER</h1></header><br>
    <div class = "content">{% block content %} {% endblock content %} </div>
  </body>
    <footer class="text-muted">
        <div class="container">
        <p class="float-right">
      </p>
    </div>
  </footer>
</html>