{% extends 'base.html' %}
{% block content %}
{% include "nav.html" %}
{% block content2 %}
   <h2  class="h2">Edit Job</h2>
      <form class="form-signin" method = "POST" action = "" class = "form-control"><br>
        {%for row in results%}
        <div class="two-col">
          <div class="col1">
            <label for="inputTitle">Job Title:</label>
            <input type="text" id="inputTitle" name =  "inputTitle" class="form-control" value = "{{row[1]}}" required autofocus>
            <br>
            <label for="pay" class = "">Pay(Euro):</label>
              <input type="number" name="pay" id = "pay" class = "form-control" min = "1" max = "500" value = "{{row[5]}}"><br>
              <label for="resourcesProvided" class = "">Resources Provided:</label>
              <textarea rows="5" id = "resourcesProvided" cols="40" name="resourcesProvided" type = "text" class = "form-control">{{row[8]}}</textarea>
          </div>
          <div class="col2">
            <label for="catagory">Catagory:</label>
            <select class = "form-control" name = "catagory" id = "catagory" value = "{{row[6]}}">
                <option value="Home" class = "form-control">Home</option>
                <option value="Garden" class = "form-control">Gardening</option>
                <option value="Babysitting" class = "form-control">Babysitting</option>
                <option value="Computing" class = "form-control">Computing</option>
                <option value="Parties/Events" class = "form-control">Parties and Events</option>
            </select>
            <br>
            <label for="duration">Duration:</label>
            <input type="text" name="duration" id = "duration" class = "form-control" value = "{{row[4]}}"><br>
            <label for="resourcesRequired" class = "">Resources Required:</label>
            <textarea rows="5" id = "resourcesRequired" cols="40" name="resourcesRequired" type = "text" class = "form-control">{{row[9]}}</textarea>
          </div>
        </div>
        <br>
        <label for="description">Description:</label>
        <textarea rows="8" cols="40" id = "description" name="description" type = "text" class = "form-control">{{row[3]}}</textarea>
        <br>
        <label for="email">Email:</label>
        <input type="email"  name = "email" id="email" class="form-control" value = "{{row[10]}}" autofocus>
        <label for="phone">Phone Number:</label>
        <input type="number" name = "phone" id="phone" class="form-control" value = "{{row[11]}}" autofocus>
        <label for="street">Street:</label>
        <input type="text" name = "street" id="street" class="form-control" value = "{{row[12]}}" autofocus>
        <label for="town">Town:</label>
        <input type="text" id="town" name = "town" class="form-control" value = "{{row[13]}}" autofocus>
        <label for="county">County:</label>
            <select class = "form-control" name = "county" id = "county" value = "{{row[14]}}">
                <option value="Antirm" class = "form-control">Antrim</option>
                <option value="Armagh" class = "form-control">Armagh</option>
                <option value="Carlow" class = "form-control">Carlow</option>
                <option value="Cavan" class = "form-control">Cavan</option>
                <option value="Clare" class = "form-control">Clare</option>
                <option value="Cork" class = "form-control">Cork</option>
                <option value="Derry" class = "form-control">Derry</option>
                <option value="Donegal" class = "form-control">Donegal</option>
                <option value="Down" class = "form-control">Down</option>
                <option value="Dublin" class = "form-control">Dublin</option>
                <option value="Fermanagh" class = "form-control">Fermanagh</option>
                <option value="Galway" class = "form-control">Galway</option>
                <option value="Kerry" class = "form-control">Kerry</option>
                <option value="Kildare" class = "form-control">kildare</option>
                <option value="Kilkenny" class = "form-control">Kilkenny</option>
                <option value="Laois" class = "form-control">Laois</option>
                <option value="Leitrim" class = "form-control">Leitrim</option>
                <option value="Limerick" class = "form-control">Limerick</option>
                <option value="longford" class = "form-control">Longford</option>
                <option value="Louth" class = "form-control">Louth</option>
                <option value="Mayo" class = "form-control">Mayo</option>
                <option value="Meath" class = "form-control">Meath</option>
                <option value="Monaghan" class = "form-control">Monaghan</option>
                <option value="Offaly" class = "form-control">Offaly</option>
                <option value="Roscommon" class = "form-control">Roscommon</option>
                <option value="Sligo" class = "form-control">Sligo</option>
                <option value="Tipperary" class = "form-control">Tipperary</option>
                <option value="Tyrone" class = "form-control">Tyrone</option>
                <option value="Waterford" class = "form-control">Waterford</option>
                <option value="Westmeath" class = "form-control">Westmeath</option>
                <option value="Wicklow" class = "form-control">Wicklow</option>
            </select>
        </div>
      <br><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
        {% endfor %}
    </form>
{% endblock %}
{% endblock %}