{% extends 'base.html' %}
{% block content %}
{%if user_type == "Job Poster" or user_type == "Admin"%}
  {% include "nav.html" %}
{%elif user_type == "Job Searcher"%}
  {% include "nav2.html" or user_type == "Admin"%}
{%else%}
{% include "nav3.html" %}
{%endif%}
{% block content2 %}
<h2 class = "h2">Welcome {{username}}</h2><br>
<div class = "a">
    <h3>
    OddJobs is a website where you can search or post odd jobs. <br>
    This web application is strictly for non-fulltime or non-part-time <br>
    jobs. Jobs that are completed once-off basis. Whether you are looking <br>
    for an extra bit of cash or neading some work done, you can do both here.
    </h3>
</div>
{% endblock %}
{% endblock %}