{% extends 'base.html' %}
{% block content %}
{%if user_type == "Job Poster" or user_type == "Admin"%}
  {% include "nav.html" %}
{%elif user_type == "Job Searcher"%}
  {% include "nav2.html" or user_type == "Admin"%}
{%else%}
{% include "nav3.html" %}
{%endif%}
{% block content2 %}
<h2 class = "h2">Welcome {{username}}</h2><br>
<!---<div class = "a">-->
    <pre class = "description">
    Here at Odd Jobs Finder you can search or post odd jobs. This application hosts the kind of 
    jobs that are completed once-off basis. Whether you are looking for an extra bit of cash
    or neading some work done, you can do both here.
    </pre>

{% endblock %}
{% endblock %}