    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/post_job">Post Job</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="view_jobs">View Jobs</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                    <a class="nav-link dropdown" href="view_jobs">Account</a>
                        <div class="dropdown-content">
                            <a href="#">My Account</a>
                            <a href="/login">Logout</a>
                        </div>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Search">
            </form>
        </div>
    </nav>
    <div class = "content">{% block content2 %} {% endblock content2 %} </div>