<html>
  <head>
    <link rel="stylesheet" href= "{{ url_for('static', filename = 'signin.css') }}">
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'bootstrap.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename = 'main.js') }}"></script>
  </head>
    <body>
      <h1  class="h1">Post Job</h1>
      <form class="form-signin" method = "POST" action = "" class = "form-control"><br>
        <h2 class = "h2">
        {% for row in results %}
          {{row[0]}}
          {{row[1]}}
        {% endfor %}
        </h2>
        <div class="two-col">
          <div class="col1">
            <label for="inputTitle">Job Title:</label>
            <input type="text" id="inputTitle" name =  "inputTitle" class="form-control" required autofocus>
            <br>
            <label for="pay" class = "">Pay(Euro):</label>
              <input type="number" name="pay" id = "pay" class = "form-control" min = "1" max = "500"><br>
              <label for="resourcesProvided" class = "">Resources Provided:</label>
              <textarea rows="5" id = "resourcesProvided" cols="40" name="resourcesProvided" type = "text" class = "form-control"></textarea>
          </div>
          <div class="col2">
            <label for="catagory">Catagory:</label>
            <select class = "form-control" name = "catagory" id = "catagory">
                <option value="Home" class = "form-control">Home</option>
                <option value="Garden" class = "form-control">Gardening</option>
                <option value="Babysitting" class = "form-control">Babysitting</option>
                <option value="Computing" class = "form-control">Computing</option>
                <option value="Parties/Events" class = "form-control">Parties and Events</option>
            </select>
            <br>
            <label for="duration">Duration:</label>
            <input type="text" name="duration" id = "duration" class = "form-control"><br>
            <label for="resourcesRequired" class = "">Resources Required:</label>
            <textarea rows="5" id = "resourcesRequired" cols="40" name="resourcesRequired" type = "text" class = "form-control"></textarea>
          </div>
        </div>
        <br>
        <label for="description">Description:</label>
        <textarea rows="8" cols="40" id = "description" name="description" type = "text" class = "form-control"></textarea>
        <br>
        <label for="differentContacts" >Use different contact details?</label><br>
        <input type="checkbox" name = "differentContacts" id = "differentContacts" onclick="myFunction()">
        <div id = "fields" style = "display:none">
              <label for="email">Email:</label>
              <input type="email"  name = "email" id="email" class="form-control" autofocus>
              <label for="phone">Phone Number:</label>
              <input type="number" name = "phone" id="phone" class="form-control" autofocus>
        </div>
        <br><br>
        <label for="differentAddress" >Use different address?</label><br>
        <input type="checkbox" name = "differentAddress" id = "differentAddress" onclick = "myFunction2()">
        <div id = "address" style = "display:none">
            <label for="street">Street:</label>
            <input type="text" name = "street" id="street" class="form-control" autofocus>
            <label for="town">Town:</label>
            <input type="text" id="town" name = "town" class="form-control" autofocus>
            <label for="county">County:</label>
            <select class = "form-control" name = "county" id = "county">
                <option value="Antirm" class = "form-control">Antrim</option>
                <option value="Armagh" class = "form-control">Armagh</option>
                <option value="Carlow" class = "form-control">Carlow</option>
                <option value="Cavan" class = "form-control">Cavan</option>
                <option value="Clare" class = "form-control">Clare</option>
                <option value="Cork" class = "form-control">Cork</option>
                <option value="Derry" class = "form-control">Derry</option>
                <option value="Donegal" class = "form-control">Donegal</option>
                <option value="Down" class = "form-control">Down</option>
                <option value="Dublin" class = "form-control">Dublin</option>
                <option value="Fermanagh" class = "form-control">Fermanagh</option>
                <option value="Galway" class = "form-control">Galway</option>
                <option value="Kerry" class = "form-control">Kerry</option>
                <option value="Kildare" class = "form-control">kildare</option>
                <option value="Kilkenny" class = "form-control">Kilkenny</option>
                <option value="Laois" class = "form-control">Laois</option>
                <option value="Leitrim" class = "form-control">Leitrim</option>
                <option value="Limerick" class = "form-control">Limerick</option>
                <option value="longford" class = "form-control">Longford</option>
                <option value="Louth" class = "form-control">Louth</option>
                <option value="Mayo" class = "form-control">Mayo</option>
                <option value="Meath" class = "form-control">Meath</option>
                <option value="Monaghan" class = "form-control">Monaghan</option>
                <option value="Offaly" class = "form-control">Offaly</option>
                <option value="Roscommon" class = "form-control">Roscommon</option>
                <option value="Sligo" class = "form-control">Sligo</option>
                <option value="Tipperary" class = "form-control">Tipperary</option>
                <option value="Tyrone" class = "form-control">Tyrone</option>
                <option value="Waterford" class = "form-control">Waterford</option>
                <option value="Westmeath" class = "form-control">Westmeath</option>
                <option value="Wicklow" class = "form-control">Wicklow</option>
            </select>
        </div>
      <br><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Post Job</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
      </form>
    </body>
<html>