{% extends 'base.html' %}
{% block content %}
{% include "nav3.html" %}
{% block content2 %}
   <h2  class="h2">Register</h2>
      <form class="form-signin" method = "POST" action = "" class = "form-control">
        {% if error %}
          <p class="error"><strong class = "error">Error:</strong> {{ error }}
        {% endif %}
        <div class="two-col">
          <div class="col1">
            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" name = "firstname" class="form-control" required autofocus><br>
            <label for="age">Age:</label>
            <input type="number" name="age" id = "age" class = "form-control"><br>
            <label for="password">Password:</label>
            <input type="password"  name = "password" id="password" class="form-control" autofocus>
            <label for="street">Street:</label>
            <input type="text" name = "street" id="street" class="form-control" autofocus><br>
            <label for="town">Town:</label>
            <input type="text" id="town" name = "town" class="form-control" autofocus><br>
          </div>
          <div class="col2">
            <label for="lastname" class = "">Last Name</label>
            <input type="text" name="lastname" id = "lastname" class = "form-control" min = "1" max = "500"><br>
            <label for="phone">Phone Number:</label>
            <input type="tel" name ="phone" id="phone" class="form-control" autofocus><br>
            <label for="username" class = "">Username</label>
            <input type="text" name="username" id = "username" class = "form-control" min = "1" max = "500"><br>
            <label for="email">Email:</label>
            <input type="email"  name = "email" id="email" class="form-control" autofocus><br>
            <label for="county">County:</label>
            <select class = "form-control" name = "county" id = "county">
                <option value="Antirm" class = "form-control">Antrim</option>
                <option value="Armagh" class = "form-control">Armagh</option>
                <option value="Carlow" class = "form-control">Carlow</option>
                <option value="Cavan" class = "form-control">Cavan</option>
                <option value="Clare" class = "form-control">Clare</option>
                <option value="Cork" class = "form-control">Cork</option>
                <option value="Derry" class = "form-control">Derry</option>
                <option value="Donegal" class = "form-control">Donegal</option>
                <option value="Down" class = "form-control">Down</option>
                <option value="Dublin" class = "form-control">Dublin</option>
                <option value="Fermanagh" class = "form-control">Fermanagh</option>
                <option value="Galway" class = "form-control">Galway</option>
                <option value="Kerry" class = "form-control">Kerry</option>
                <option value="Kildare" class = "form-control">kildare</option>
                <option value="Kilkenny" class = "form-control">Kilkenny</option>
                <option value="Laois" class = "form-control">Laois</option>
                <option value="Leitrim" class = "form-control">Leitrim</option>
                <option value="Limerick" class = "form-control">Limerick</option>
                <option value="longford" class = "form-control">Longford</option>
                <option value="Louth" class = "form-control">Louth</option>
                <option value="Mayo" class = "form-control">Mayo</option>
                <option value="Meath" class = "form-control">Meath</option>
                <option value="Monaghan" class = "form-control">Monaghan</option>
                <option value="Offaly" class = "form-control">Offaly</option>
                <option value="Roscommon" class = "form-control">Roscommon</option>
                <option value="Sligo" class = "form-control">Sligo</option>
                <option value="Tipperary" class = "form-control">Tipperary</option>
                <option value="Tyrone" class = "form-control">Tyrone</option>
                <option value="Waterford" class = "form-control">Waterford</option>
                <option value="Westmeath" class = "form-control">Westmeath</option>
                <option value="Wicklow" class = "form-control">Wicklow</option>
            </select>
          </div>
        </div>
          <br>
          <label for="description">Description:</label>
          <textarea rows="5" id = "description" cols="40" name="description" type = "text" class = "form-control"></textarea><br>
          <label for="userType">What kind of account would you like?</label><br>
          <input type="radio" name="userType" value="Job Poster" checked> Job Poster<br>
          <input type="radio" name="userType" value="Job Searcher"> Job Searcher<br>
          <br><br>
          <label for="publicOnApply">Would you like your account to be made public upon applying for jobs?</label><br>
          <input type="checkbox" name="publicOnApply" checked><br><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit" onSubmit="alertRegisteration()">Register</button>
        <a href="/login">Login</a><br>
        <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
    </form>
{% endblock %}
{% endblock %}