{% extends 'base.html' %}
{% block content %}
{%if user_type == "Job Poster" or user_type == "Admin"%}
  {% include "nav.html" %}
{%elif user_type == "Job Searcher"%}
  {% include "nav2.html" or user_type == "Admin"%}
{%else%}
{% include "nav3.html" %}
{%endif%}
{% block content2 %}
<h3>View Applicant</h3>
<br>
{%for row in results%}
    <div class="album py-5 bg-light">
      <div class = "a">
          <b>Full Name:</b> {{row[1]}} {{row[2]}}<br>
          <b>Age:</b> {{row[6]}}<br>
          <b>Description:</b> {{row[5]}}<br>
          <b>Type:</b> {{row[4]}}<br>
          <br>
          <h3>Address</h3>
          {{row[9]}}, {{row[10]}}, Co. {{row[11]}}<br>
          <br>
          <h3>Contact Details</h3>
          <b>Phone:</b> {{row[7]}}<br>
          <b>Email:</b> {{row[8]}}<br>
          <br>
          <form method = "POST" action = "/accept_user">
            <button type="submit" class="btn btn-sm btn-outline-secondary" name = "accept_button" value = "{{row[2]}}">Accept</button>
          </form>
      </div>
    </div>
  </div>
  <br>
{%endfor%}
<div class = "contianer">
  <div class="jumbotron">
  <form method = "POST" action = "/view_job">
  <b>{{username}}</b>
      <label for="feedback">leave feeback below:</label>
      <textarea rows="4" cols="60" id = "feedback" name="feedback" type = "textarea" class = "form-control"></textarea><br>
      <label for="rate">Rating</label>
      <br>
      <div class="rate">
        <input type="radio" id="star5" name="rate" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2" />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1" />
        <label for="star1" title="text">1 star</label>
      </div>
      <br><br>
      <button class="btn btn-primary my-2" type ="submit">Submit</button>
  </form>
  <h3>Feedback</h3>
    {%for row in results2%}
    <b>{{row[8]}}:</b> {{row[3]}}<br>
    {%endfor%}
  </div>
</div>
{% endblock %}
{% endblock %}