{% extends 'base.html' %}
{% block content %}
{%if user_type == "Job Poster" or user_type == "Admin"%}
  {% include "nav.html" %}
{%elif user_type == "Job Searcher"%}
  {% include "nav2.html" or user_type == "Admin"%}
{%else%}
{% include "nav3.html" %}
{%endif%}
{% block content2 %}
  <title>View Applicants</title>
    <main role="main">
    <br><br>
    <div class="album py-5 bg-light">
    <h2  class="h2">View Applicants</h2><br>
    {%if is_taken == None%}
    <p class = "warning"> You have already accepted an applicant for this job!</p>
      <div class="container">
        <div class="row">
          {%for row in results2%}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
            <img src ="{{ url_for('static', filename = 'image.png') }}" width="100%" height="200">
              <div class="card-body">
                <p class="card-text">
                  <b>User Name:</b> {{row[6]}}<br>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  {%if is_taken == None%}
                    <form method = "POST" action = "/accept_user">
                      <button type="submit" class="btn btn-sm btn-outline-secondary" name = "accept_button" value = "{{row[2]}}">Accept</button>
                    </form>
                  {%endif%}
                  {%if row[19] == "Yes"%}
                      <form method = "POST" action = "/secure_applicant_id">
                    <button type="submit" class="btn btn-sm btn-outline-secondary" name = "applicant_button" value = "{{row[3]}}">View</button>
                  </form>
                  {%endif%}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </main>
    <footer>
      <a href="#">Back to top</a><br>
    </footer>
{% endblock %}
{% endblock %}